
html{
    height: 100%;
    font-family: '微軟正黑體', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.row{
    position:relative;
    height: 0px;
    width: 100%;
    clear:both;
}
.line{
    position:relative;
    top: 0;
    width: 0px;
    height:100%;
    min-height: fit-content;
    float: left;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.wrap{
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
}
.right{
    position: relative;
    right: 0;
    text-align: right;
}
.center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-h{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.center-v{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.big{
    font-size: 200px;
}
.mid{
    font-size: 100px;
}
.normal{
    font-size: 72px;
}
p{
    margin-left: 16px;
}
.page{
    position: relative;
    width: 100%;
    height: 100%;
}

.fadein{
    animation-name: fadein;
    animation-duration: 0.4s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(0,10px);
    }
    to {
        opacity: 1;
        transform: translate(0px,0);
    }
}

.hover:hover{
    z-index: 1;
    box-shadow: inset 0 0 32px rgba(0, 0, 0, 0.2);
}