
body{
    margin: 0;
   cursor:url();
}
*{
    font-family: cursive;
}
table{
    cursor:pointer;
    background: #5F5F5F;
}
td{
padding:4px;
border: 1px solid grey;
}
td:hover {
    background-color: #333333
}
td span{
 visibility: hidden;
    width:auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
}
table,span{
    color:#B9B9B9;
}
td:hover span{
      visibility: visible;
}
::selection {
    color: red;
    background: yellow;
}
.thead{
    text-align: center;
    background: #52B7FE;
}
.thead P{
    margin:0;
}
#otter{
    max-width: 100%;
    background-color:#2c3e50;
    height: 80px;
    position: relative;
}
#selection{
    position: relative;
    height:63px;
    background: white;
}
ul{
    margin: 0;    
    padding: 0;
}
li{
   padding:20px 0px;
   background-color: white;
   display: block;
   float:left;
}
li a ,dropbtn{
    padding:20px;
    color: #292929;
}
li a:hover dropdown:hover .dropbtn{
    background-color: #f39c12;
}              
li a:active{
    background-color: #2980b9;
}       
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:56px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
#toolist{
float:left;
width:6%;
background: #333333;
height:1000px;
}
#tooler{
    display: inline-block;
    word-break: break-all;
}
#content{
float:left;
width:94%;
height:1000px;
background:#333333;
}
#attr{
position: fixed;
bottom:0%;
right:0%;
width:10%;
height:10px;
background:#9D8686;
cursor:pointer;
}
#popup{
position:fixed;
bottom:1%;
right:0%;
width:10%;
height:300px;
background:#FFF000;
cursor:text;
display: none;
}
#phead{
    background: #52B7FE;
    cursor:pointer;
}
#aa{
    float:left;
    padding:0px 65px;
    margin:0;
}
#a{
    float:right;
    margin:0px 5px;
    font-size: 80%;
}
#draggable{ 
    width: 150px;
    height:150px;
    padding: 0.5em; 
    background:#bdc3c7 ;    
}


